/* CSS flex-box layout is a CSS3 web layout model */
.content-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    /* align-content: center; */
}

.content-wrap-item {
    padding: 50px;
}
