#projects {
    background-color: #edebea;
}
.projects-wrapper {
    position: relative;
}

.projects-wrapper img {
    height: 200px;
    width: 310px;

    background: white;
}

.project-overlay {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 50px;
    right: 0;
    height: 66%;
    width: 75.666%;
    opacity: 0;
    background-color: rgba(0, 140, 186, 0.5);

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.project-overlay h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    margin: 0 0 2px;
}

.project-overlay h3 {
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
    margin: 0;
}

.projects-wrapper:hover .project-overlay {
    opacity: 1;
}
