/* mobile use */

@media (max-width: 1000px) {
    #menu,
    #toggle-menu {
        background-color: #495c70;
    }
    #toggle-menu,
    #menu a {
        padding: 16.799999999999px 32px;
        font-weight: bold;
        text-transform: uppercase;
    }
    #menu li,
    #toggle-menu,
    #menu a {
        position: relative;
        display: block;
        color: white;
    }
    /* Display main menu or sub-menu when clicked */
    #tm:checked + .main-menu {
        display: block;
    }
    #menu input[type="checkbox"]:checked + .sub-menu {
        display: block;
    }
    /* Hide the ugly square box */
    #menu input[type="checkbox"],
    #menu ul span.drop-icon {
        display: none;
    }

    /* Format main-menu */
    #menu .main-menu {
        display: none;
        background-color: lightblue;
        transition: all 0.5s ease;
    }
    /* Format sub-menu */
    #menu .sub-menu {
        display: none;
        background-color: #495c70;
    }
    #menu .sub-menu {
        margin: 0 1em;
    }
    /* Format sub-sub-menu */
    #menu .sub-sub-menu {
        background-color: lightblue;
    }


    /* Format drop-icon */
    .wrapper.active .drop-icon {
        transform: rotate(45deg) translate(-5px, -5px);
    }
    .wrapper.active .drop-icon:before {
        transform: translate(10px, 0);
    }
    .wrapper.active .drop-icon:after {
        transform: rotate(90deg) translate(10px, 0);
    }

    .drop-icon {
        right: 1.9em;
        top: 1.5em;
        line-height: 1;
        position: absolute;
        width: 13px;
        height: 13px;
        transition: 0.4s ease;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .drop-icon:before, .drop-icon:after {
        position: absolute;
        content: "";
        display: inline-block;
        width: 12px;
        height: 3px;
        background-color: #fff;
        transition: 0.4s ease;
    }
    .drop-icon:after {
        position: absolute;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        top: -5px;
        left: 5px;
    }
}
