/* desktop/laptop */

@media (min-width: 1000px) {


    /* ------------------------------------------
    Navigation - HEADER MENU
    ------------------------------------------ */

    header nav#menu {
        display: -webkit-flex;
        display: flex;
        justify-content: flex-end;

        background: #495c70;
        line-height: 52.800px;

    }

    label#toggle-menu {
        display: none;
    }

    /* Hide the ugly square box */
    #menu input[type="checkbox"],
    #menu ul span.drop-icon {
        display: none;
    }

    header nav#menu ul {
        margin: 0;
        padding: 0;


    }

    header nav#menu ul li {
        font-size: 10px;
        width: 90px;

        text-align: center;
        text-transform: uppercase;
        border-right: 1px solid #ccc;

        float: left;
        position: relative;


    }

    header nav#menu ul li:hover > a {
        color: #fff;
    }

    header nav#menu ul li:first-child {
        border-left: 1px solid #ccc;
    }

    header nav#menu ul li a {
        color: rgba(255, 255, 255, 0.6);
    }

    header nav#menu ul li a:hover {
        color: #fff;
    }

    /* ---------------------------------------------
    SUB LIST
    --------------------------------------------- */


    header nav#menu ul li ul.sub-menu {
        background: #495c70;
        z-index: 999;
        visibility: hidden;
        position: absolute;
        /* top: 31px; */
        top: 53.8px;
        left: 0px;

        opacity: 0;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
    }

    header nav#menu ul li ul.sub-menu li {
        border: none;
        border-bottom: 1px solid #ccc;
        clear: both;
    }

    /* Visible Sublist */
    header nav#menu ul li:hover ul.sub-menu {
        visibility: visible;
        opacity: 1;
    }

    /* ---------------------------------------------
    SUB SUB LIST
    --------------------------------------------- */

    header nav#menu ul li ul.sub-menu li ul.sub-sub-menu {
        visibility: hidden;
        position: absolute;
        top: 0px;
        left: 61px;
    }

    header nav#menu ul li ul.sub-menu li ul.sub-sub-menu li {
        border: none;
        border-bottom: 1px solid #ccc;
        clear: both;
    }

    /* Visible SubSublist */
    header nav#menu ul li ul.sub-menu li:hover ul.sub-sub-menu {
        visibility: visible;
        left: 91px;
    }

}
