/* CSS flex-box layout is a CSS3 web layout model */

.content-wrap {
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap; /* a shorthand flex-direction and flex-wrap */
    justify-content: center;
    align-items: center;
    align-content: center;
}

.content-wrap-item {
    padding: 50px;
    /* border: 1px solid black; */
}

/*------------------------------------------
                About Me
----------------------------------------  */

section.about-me {
    background-color: #F4F7F6;
    background-color: #F8F0E0;
}


section.about-me p {
    line-height: 2.0;
    font-size: 45px;
    font-weight: 100;
    color: #202121;
    text-transform: uppercase;
}

.me-img {
    width: 256px;
    max-width: 100%;
    max-height: 400px;
    background-color: #fff;
}
