@media (min-width: 1000px) {





}

/* -------------------------------
CONTACT
------------------------------- */

.contact {
    background: rgba(121, 137, 162, 0.86);

}

.contact h2 {
    color: #fff;
    padding-bottom: 0;
}

.contact-wrap {
    margin: 0 auto;
    padding: 30px 0;

    max-width: 800px;
    background: #fff;
    text-align: center;

}


/* -------------------------------
General Form Styles
------------------------------- */

input, textarea {
    font-family: 'Roboto Mono', monospace;
}

textarea {
    resize: none;
}

input[type=text] {
    width: 36.77%;
    max-width: 600px;

    margin-bottom: 30px;
    padding: 10px;
}

input[type=submit],
input[type=reset] {
    width: 36.77%;
    max-width: 600px;

    margin-top: 30px;
    border: none;

    padding: 10px;
}

textarea {
    width: 100%;

    max-width: 600px;
    height: 300px;
}

input, textarea {
    /* Create nice round borders */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    border: 3px solid rgb(207, 207, 207);

    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
